/* styles.css */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.todo-container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

h1 img {
    width: 25px;
    margin-left: 5px;
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 25%;
    padding: 10px;
    border: none;
    background-color: hwb(29 3% 5%);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: hwb(29 3% 5%);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f4f4f4;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    color: #888;
}

li button {
    margin-left: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
}

li button.edit {
    color: #007bff;
}

li button.delete {
    color: #dc3545;
}

li button.marked {
    color: #045f18;
}

li button.edit:hover {
    color: #0056b3;
}

li button.delete:hover {
    color: #c82333;
}

li button.marked:hover {
    color: #045f18;
}
